/* Estilos gerais */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/*cabecalho*/
header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(225, 224, 226, 0.088);
    width: 100%;
    height: 14.1%;
    top: 0%;
    left: 0%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra com deslocamento 0px, 0px e desfoque 10px */

}
div.logo {
    position: absolute;
    top: 2.7%;
    left: 12.3%;
    width: 4.3%;
    height: 8.3%;
}
img#logo {
    width: 100%;
}

/* BARRA DE PESQUISA */
div#search{
    position: absolute;
    top: 4.4%;
    left: 19.15%;
    width: 25.7%;
    height: 5.4%;
}
.search-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
input#search-bar {
    border-radius: 39pt;
    margin: 0 auto;
    width: 96%;
    height: 100%;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 1px solid #9a9a9a;
        transition: 0.35s ease;
        color: #000000;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}
.search-icon {
    position: relative;
    float: right;
    width: 5.4%;
    top: -77.5%;
    right: -0.5%;
}



/* Estilos para a barra de navegação */
.barraNav {
    background-color: #ffffff;
    /* Cor de fundo da barra de navegação */
    position: absolute;
    /* Posicionamento absoluto para definir coordenadas */
    left: 46.5%;
    /* Posição horizontal da barra */
    top: 4%;
    /* Posição vertical da barra */
    width: 34.8%;
    /* Largura da barra */
    height: 5.2%;
    /* Altura da barra */
}
.barraNav ul {
    list-style-type: none;
    /* Remover marcadores de lista */
    padding: 0;
    /* Remover preenchimento interno */
    margin: 0;
    /* Remover margens */
    width: 104%;
}
.barraNav li {
    display: inline-block;
    /* Exibir os itens lado a lado */
    margin-right: 4%;
    /* Espaçamento entre os itens */
    height: 1.5vw;
    /* Altura dos itens */
    line-height: 40px;
    /* Centralizar o texto verticalmente */
    position: relative;
    /* Definir a posição para que os submenus sejam posicionados relativamente a eles */
    transition: all 0.3s ease;
    /* Adicionar uma transição suave */
    text-transform: lowercase;
    padding: 10px 20px;
    /* Adicione preenchimento horizontal para aumentar a área de clique */
    transition: border 0.3s;

}
.barraNav a {
    text-decoration: none;
    /* Remover sublinhado dos links */
    color: rgb(34, 34, 34);
    /* Cor do texto dos links */
    font-weight: bold;
    /* Estilo da fonte */
    font-size: 20px;
    padding: 60px 10px;
    /* Espaçamento interno dos links */
    transition: color 0.2s ease;
}
.barraNav a:hover {
    color: #0048ff;
    /* Cor do texto dos links ao passar o mouse sobre eles */
}
.barraNav li::after {
    border-bottom: 2px solid transparent;
    /* Define uma borda inferior transparente inicial */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    transition: border-color 0.4s ease; /* Adiciona a transição para a propriedade border-color */
}
.barraNav li:hover::after {
    border-color: #0048ff; /* Define a cor da borda inferior quando o elemento é hover */
}
.quadradoLinha {
    position: absolute;
    top: 42px;
    left: 77.7%;
    width: 0.5%;
    height: 55px;
    border-right: 2px solid rgb(226, 224, 226);
    background-color: #a4780000;
    z-index: 1111111;
}


/*Botao entrar*/
.entrar {
    background-color: #0048ff;
    color: #fff;
    border: none;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 39px;
    cursor: pointer;
    position: absolute;
    left: 1549px;
    top: 42px;
    transition: background-color 0.3s;
}
.entrar p {
    font-size: 18px;
    font-weight: bold;
}
.entrar:hover {
    padding: 15px 42px;
    border: none;
    background-color: #5182ff;
}



/* VIDEO */
video#animacao {
    position: absolute;
    width: 1515px;
    top: 178px;
    left: 202px;
    border-radius: 15px;
    border: 1px solid rgb(199,216,226);
}
.sobre-button {
    position: absolute;
    top: 47.7vw;
    left: 22.2vw;
    transform: translate(-50%, -50%);
    background-color: #0048ff;
    color: #ffffff;
    border: 2px solid #0048ff;  
    padding: 26.5px 107px;
    cursor: pointer;
    border-radius: 39px;
    font-size: 25px;
    transition: background-color 0.5s;
    transition: border 2px solid 0.5s;
    text-decoration: none;

}
.sobre-button p {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}
.sobre-button:hover {
    background-color: #ffffff;
    color: #0048ff;
    border: 2px solid #0048ff;  
}



/*conteudo*/
#tutoriais-curso{
    position: absolute;
    width: 854.74px;
    height: 709px;
    top: 1109px;
    left: 202px;
    cursor: pointer;
}
#tutoriais {
    position: absolute;
    top: 1252px;
    left: 1235px;
    width: 298px;
    height: 241px;
    flex-shrink: 0;
    color: #002c55;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
}
#gratuitos {
    color: #2D68FF; /* Cor azul claro para a palavra "gratuitos" */
}
.comecar {
    background: #2D68FF;
    color: #ffffff;
    border: 2px solid #2D68FF;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    flex-shrink: 0;
    border-radius: 39px;
    top: 1545px;
    left: 1239px;
    transition: background-color 0.5s;
    transition: border 2px solid 0.5s;
}
.comecar p {
    font-size: 23px;
    font-weight: 700;
    line-height: 48px;
}
.comecar:hover {
    background-color: #ffffff;
    border: 2px solid #2D68FF;
    color: #2D68FF;
}
 


/* Estilização da barra de rolagem para todo o site */
::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}
  /* Estilo da parte visível da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #2d68ff; /* Cor de fundo da barra de rolagem */
    border-radius: 200px; /* Raio da borda da barra de rolagem */
    height: -5000000px; /* Altura da barra de rolagem (ajuste conforme necessário) */

}
  /* Estilo da parte não visível da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #003d80; /* Cor de fundo do trilho */
    border-radius: 0px; /* Raio da borda do trilho */
}
  


/*RODAPE*/
img#logo-rodape {
    top: 42px;
    left: 114px;
    position: absolute;
    width: 80px;
}
footer p#MA {
    position: absolute;
    Top: 70px;
    Left: 678px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;

}
footer p#C {
    position: absolute;
    Top: 70px;
    Left: 901px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
}
footer p#Co {
    position: absolute;
    Top: 70px;
    Left: 1122px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;

}
footer p#direitos {
    position: absolute;
    Top: 70px;
    Left: 1455px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;

}
#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;  
    top: 1897px;  
    background-color: #ffffff;   
    color: rgba(0, 0, 0, 1);  
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra com deslocamento 0px, 0px e desfoque 10px */

  }
footer#rodape a {
    text-decoration: none;
    color: #000000;
}   
/* FECHAMENTO FOOTER*/