* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 136px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra com deslocamento 0px, 0px e desfoque 10px */

}
div.logop {
    position: absolute;
    top: 25px;
    left: 912px;
}
img#logo {
    width: 80px;
}



/* BARRA DE PESQUISA */
.search-box {
    position: absolute;
    top: 40px;
    right: 468px;
    background: rgb(21,43,67);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
}

::-webkit-input-placeholder {
    color: #cfcfcf;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(21,43,67);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: #0048ff;
}




/* Estilos CSS para o link com a seta */
.seta {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

.seta img {
    position: absolute;
    top: 38px;
    left: 468px;
    width: 15px;
    vertical-align: middle;
    padding: 20px;
}
/* Estilização da bola */
.bola {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #00000110;
    top: 44px;
    left: 471px; /* Mantém a mesma posição horizontal da seta */
    opacity: 0;
    transition: opacity 0.5s;
}

.seta:hover .bola {
    opacity: 1;
}









.container {
    background-color: #fff;
    margin: 0 120px; /* Espaço de 367px nas bordas laterais */
    padding-top: 200px;
    padding-bottom: 80px;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}


.video-section {
    margin: 20px 0; /* Espaço entre os vídeos */
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 0.3s;
    transition: transform 0.3s;
}
.video-section:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.398); /* Adiciona uma sombra */;
    transform: scale(1.05); /* Aumenta o tamanho em 10% (1.1x) quando o mouse passar por cima */
}

.video-title {
    font-size:20px;
    text-transform: lowercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: -90px 100px 0;
}

.video-description {
    font-size: 14px;
    text-transform: lowercase;
    color: #777;
    margin: 5px 100px 20px;
}
video {
    margin: 0px 0px 100px;
    max-width: 100%; /* Garante que os vídeos não fiquem maiores que a tela */
    height: 307px; /* Mantém a proporção original dos vídeos */
    border: 1px solid #ccc; /* Adiciona uma borda aos vídeos */
    border-radius: 15px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-wrap: wrap;
}
.logo {
    position: absolute;
    width: 55px;
    margin: -90px 25px;
}
.logo:hover{
    transform: scale(1.05); /* Aumenta o tamanho em 10% (1.1x) quando o mouse passar por cima */
}



/*RODAPE*/
img#logo-rodape {
    top: 42px;
    left: 114px;
    position: absolute;
    width: 80px;
}

footer p#MA {
    position: absolute;
    Top: 70px;
    Left: 678px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;

}

footer p#C {
    position: absolute;
    Top: 70px;
    Left: 901px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
}

footer p#Co {
    position: absolute;
    Top: 70px;
    Left: 1122px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;

}

footer p#direitos {
    position: absolute;
    Top: 70px;
    Left: 1455px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;

}

#rodape {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 10rem;  
    top: 83.2vh;  
    background-color: #ffffff;   
    color: rgba(0, 0, 0, 1);  
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra com deslocamento 0px, 0px e desfoque 10px */

  }
footer#rodape a {
    text-decoration: none;
    color: #000000;
}   
/* FECHAMENTO FOOTER*/










/* Estilização da barra de rolagem para todo o site */
::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
  }
  
  /* Estilo da parte visível da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #2d68ff; /* Cor de fundo da barra de rolagem */
    border-radius: 200px; /* Raio da borda da barra de rolagem */
    height: -5000000px; /* Altura da barra de rolagem (ajuste conforme necessário) */

  }
  
  /* Estilo da parte não visível da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #003d80; /* Cor de fundo do trilho */
    border-radius: 0px; /* Raio da borda do trilho */
  }
  


